@page "/comecar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle> AgencyManager - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8" Elevation="1">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="imgs/login.png"
                     alt="AgencyManager - Gerenciador de Agencias"
                     width="300" />
            </div>

            <MudForm @ref="MudForm">
                <MudTextField T="string"
                              Label="E-mail"
                              InputType="InputType.Email"
                              Required="true"
                              RequiredError="Informe o E-mail" />

                <MudTextField T="string"
                              Label="Senha"
                              InputType="InputType.Password"
                              Required="true"
                              RequiredError="Senha inválida" />
            </MudForm>

            <div class="d-flex mt-8">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary">COMEÇAR</MudButton>
                <MudSpacer />
                <MudButton Href="/login">JÁ TENHO UMA CONTA</MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>
