<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="AgencyManager - Gestão de Agencias" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/agencias" Match="NavLinkMatch.All">Minhas agências</MudNavLink>
    <MudNavLink Href="/caixas" Match="NavLinkMatch.All">Meus Caixas</MudNavLink>
    <MudNavLink Href="/sair" Match="NavLinkMatch.All">Sair</MudNavLink>
</MudNavMenu>
